/* .App {
  text-align: center;
}
.user-name{
font-family: 'Times New Roman', Times, serif;
color: orange;
}
.user-profile-pic{
  height:250px;
  aspect-ratio: 1/1; 
  border-radius: 50%;
  object-fit: cover;
}

.user-first-name{
  font-weight: bold;
  font-style: italic;
  color: rgb(39, 12, 163);
} */

.movie-poster{
  height:640px;
  width:100%;
  object-fit: cover;
}

.movie-name{
  font-size: 24px;
  margin: 0;
}
.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-container{
  /* background-color: orange; */
  width: 340px;
  height:min-content;
}

.movie-rating{
  font-size:20px;
}
.movie-list{
  display:grid ;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  gap:1rem;
  justify-content:center;

  /* display:flex;
  flex-wrap: wrap;
  gap:1rem;
  justify-content: space-around; */

}

.add-movie-form{
  display: flex;
  flex-direction: column;
}
/* .App {
  text-align: center;
}
.user-name{
font-family: 'Times New Roman', Times, serif;
color: orange;
}
.user-profile-pic{
  height:250px;
  aspect-ratio: 1/1; 
  border-radius: 50%;
  object-fit: cover;
}

.user-first-name{
  font-weight: bold;
  font-style: italic;
  color: rgb(39, 12, 163);
} */

.movie-poster{
  height:640px;
  width:100%;
  object-fit: cover;
}

.movie-name{
  font-size: 24px;
  margin: 0;
}
.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-container{
  /* background-color: orange; */
  width: 340px;
  padding: 10px;
  margin-top: 10px;
}

.movie-list{
  display:grid ;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  gap:1rem;
  justify-content:center;
  

  
  /* display:flex;
  flex-wrap: wrap;
  gap:1rem;
  justify-content: space-around; */

}


.add-movie-form{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 1rem auto;
  gap: 1rem;
}

.movie-detail-container{
  max-width:  750px;
  padding: 16px;
}
/* .Use{
  font-family: sans-serif;
  text-align:flex;
  flex-direction: column;
  gap: 1rem;
} */
.Home{
  text-align: center;
  margin-top:  10%;
}